*/.venv
*/__pycache__

                        metadata.json
                        ontology.diaf
                        test_data/
                        
                        metadata.json
                        ontology.diaf
                        test_data/
                        
                        metadata.json
                        ontology.diaf
                        test_data/
                        